@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.container{
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.container img{
  margin-top: 31px;
  margin-left: 147px;
}

.container .nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 20px;
  justify-content: flex-end;
  margin-top: -2.5rem;
  margin-right: 5rem;
}

.nav li{
  display: block;
  padding: 0.5rem;
} 

.nav li:hover{
  cursor: pointer;
  background-color: #202E79;
  color: white;
  transition: 0.3s ease;
}

.showcase-grid{
  display: grid;
  grid-template-areas: 'showcase showcase img'
                         'showcase showcase img';
}


.showcase{
  grid-area: showcase;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 147px;
  align-items: flex-start;
  justify-content: center;
}

.showcase .home-btn{
  width: fit-content;
  margin-top: 30px;
  display: block;
  padding: 0.5rem;
  font-size: 20px;
  background-color: #202E79;
  color: white;
  border: none;
  font-weight: bold;
}

.showcase .home-btn:hover{
  cursor: pointer;
  background: white;
  color: #202E79;
  transition: 0.2s ease;
  border: 2px solid #202E79;
}

.showcase .header{
  font-size: 50px;
}

.showcase .sub-header{
  font-size: 28px;
  margin-top: -10px;
  color: #454444;
}

.showcase-img{
  grid-area: img;
  width: 434px;
  height: 360px;
}

@media (max-width: 1000px) {
  .showcase .header{
    white-space: nowrap;
  }

  .showcase .sub-header{
    white-space: nowrap;
  }

  .showcase-img{
    grid-area: img;
    width: 334px;
    height: 260px;
  }
}

@media (max-width: 900px) {
  .showcase-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:60px;
  }

  .showcase-img{
    margin-right: 60px;
  }

  .container .home-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container .home-sub-container img{
    width: 83px;
    height: 78px;
    margin-right: 100px;
  }

  .container .nav{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
    margin-left: 100px;
  }

  .showcase-grid{
    margin-top: -40px;
  }
}

@media (max-width: 690px) {
  .container{
    margin-right: 70px;
  }

  .showcase .header{
    font-size: 40px;
  }

  .showcase .sub-header{
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .container .nav{
    gap: 15px;
  }

  .showcase .header{
    font-size: 30px;
  }

  .showcase .sub-header{
    font-size: 16px;
  }
}







